
body
{
	margin:0;
	padding: 0;
	font-family: 'Jost', sans-serif;
	background: #e8e8e8;

	

}
.title
{
	text-align: center;
	margin-top: 1em;
}


.task
{
	margin-left: 20%;
	margin-top: 2%;
	font-size: 20px;
	max-width: 60%;
	z-index: 999;
	border:1px solid #474747;
	padding: 10px;
	padding-left: 20px;
	border-radius: 10px;
	
}

.task i
{
	float: right;
	margin-right: 3%;
	padding-top: 5px;
	cursor: pointer;
}



.box
{
	max-width: 94%;
	max-height: 70% !important;
	margin: auto;
	height: 80% !important;
	position: all;
	margin-top: 3% !important;
	padding: 40px;
	
	
}
.inputbox
{
	width: 80%;
	font-size: 20px;
	margin: 0 auto;
	margin-left: 10%;
	border: none;
	border-bottom: 2px solid #000;
	background:none;
	padding: 3px;
	outline: none;
}